# App artifacts
/_build
/apps/*/cover
/apps/*/logs
/cover
/db
/deps
/doc
/*.ez
/logs

# Blockchain / Chain / Node-Daten
**/geth/
**/chaindata/
**/leveldb/
**/*.ldb
**/*.log
**/*.pid
**/*.ipc
**/*.sock

# mix dialyzer artifacts
/priv/plts

# VM Crashes
erl_crash.dump
dump.rdb

# NPM Debug
npm-debug.log

# Static artifacts
/apps/**/node_modules

# Built assets
/apps/*/priv/static/

# Secrets & private configs
/apps/*/config/*.secret.exs

# Wallaby screenshots
screenshots/

# Sobelow
.sobelow

# macOS
.DS_Store

# Self-signed dev certs
/apps/block_scout_web/priv/cert

# Docker volumes & runtime data
/docker-compose/services/blockscout-db-data
/docker-compose/services/stats-db-data
/docker-compose/services/redis-data
/docker-compose/services/logs
/docker-compose/tmp
/docker-data/
/postgres-data/
/data/
/volumes/
/*.tar.gz

# IDEs & Editor config
.idea/
*.iml
.vscode
.cursorignore
.cursorrules

# Elixir language server
.elixir_ls

# Phoenix session/cookie cache
**/*.dec

# Env files
*.env
*.env.*
!*.env.sample
.devcontainer/.blockscout_config*

# DETS storage
queue_storage
tasks_in_progress
/dets

# Temp & misc
/temp
/tmp
*.swp
*.bak
*.orig
*.rej

# ExUnit temp
test-*

